@font-face {
	font-family: 'GTWalsheimPro';
	src: url(./../fonts/GTWalsheimPro-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'GTWalsheimPro';
	src: url(./../fonts/GTWalsheimPro-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'GTWalsheimPro';
	src: url(./../fonts/GTWalsheimPro-UltraBold.woff);
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
