@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.scss');
@import url('./fonts.scss');


html {
	scroll-behavior: smooth;
}

body {
	background-color: #ececec;
	font-family: 'GTWalsheimPro', sans-serif;
}